body {
     color:rgb(34, 83, 85);
    background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    color:aquamarine ; background-color:burlywood;}

h2 {
    color:aquamarine; background-color:burlywood;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {background-color: bisque;}