body {
    color:rgb(21, 88, 90);
   background-color:burlywood;
   font-family:'Times New Roman', Times, serif
}
h1 {
   color:rgb(51, 201, 151) ; background-color:burlywood;}

h2 {
   color:rgb(52, 202, 152); background-color:burlywood;
   font-family:'Times New Roman', Times, serif
}

nav {background-color: rgb(64, 204, 209);}

nav:hover {background-color:aquamarine}

nav {background-color: rgb(201, 145, 77);
    div{ 
        border:1px beige;
        margin: 30px;
        padding:50px;
        background-color: beige;
        border-radius:25px;
    }
}

img { background-color: bisque;
    div{ 
     border:1px bisque;
     margin: 30px;
     padding:50px
    }
}

iframe {background-color:bisque;
    div{ 
        border:1px beige;
        margin: 30px;
        padding: 50px
    }
}