body {
    color:rgb(21, 88, 90);
   background-color:rgb(181, 223, 217);
   font-family:'Times New Roman', Times, serif
}
h1 {
   color:rgb(51, 201, 151) ; background-color:hsl(191, 39%, 73%);}

h2 {
   color:rgb(52, 202, 152); background-color:rgb(155, 224, 215);
   font-family:'Times New Roman', Times, serif
}

nav {background-color: rgb(64, 204, 209);}

nav:hover {background-color:aquamarine}

nav {background-color: rgb(76, 192, 207);
    div{ 
        border:1px rgb(143, 167, 204);
        margin: 30px;
        padding:50px;
        background-color: rgb(202, 230, 248);
        border-radius:25px;
    }
}

img  {
    padding: 10px;
    margin-bottom: 30px;
    background-color:rgb(51, 201, 151)
    }
iframe {background-color:rgb(196, 241, 255);
    div{ 
        border:1px rgb(220, 243, 245);
        margin: 30px;
        padding: 50px;
        border-radius:25px
    }
}